.intro{
    color: white;
    text-align: center;
    margin-top: 7%;
    font-family: 'Exo', sans-serif;

}
body{
    background-color: #130f40;

}

.intro img {
    border-radius: 10%;
    max-width: 60%;
    max-height: 60%;
    border: 7px solid white;
}

a{
    color:#e84118;
}

.lista-linha {
    padding-left: 0;
    list-style: none;
}

.lista-linha li{
    display: inline-block;
}
